# Environments
venv/
env/
.env
.venv/

# MLflow $ Training Artifacts
artifacts/
mlruns/
outputs/
*.pkl
*.joblib
*.model

# Python & Notebooks
__pycache__/
*.py[cod]
.ipynb_checkpoints


# OS & IDEs
.vscode/
.idea/
.DS_Store